<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /philcst-alumni-system/public/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]
</IfModule>
